.ku_addBox {
  .consoleTitle {
       margin: 10px 0 0 0;
       .corporateName {
         font-size: 22px;
       }
       .appInfotBox {
         height: 30px;
         display: inline-block;
         vertical-align: top;
         line-height: 30px;
         .appInfor {
           width: 20px;
           height: 20px;
           display: inline-block;
           text-align: center;
           line-height: 20px;
           font-size: 12px;
           border-radius: 50%;
           margin: 0 50px 0 0px;
         }
         .appInfor.qu {
           color: white;
           background: #FF8754;
         }
         .appInfor.zhi {
           color: white;
           background: #3F7FFC;
         }
       }
       .name {
         height: 30px;
         line-height: 30px;
         font-size: 12px;
         display: inline-block;
         margin: 0;
         vertical-align: top;
         position: relative;
         .hoverTishi {
           width: 225px;
           height: 20px;
           line-height: 20px;
           display: inline-block;
           background: #cfc6c6;
           position: absolute;
           top: -20px;
           margin: 0;
           .color {
             color: #54adff;
             cursor: pointer;
           }
         }
       }
     }
  .kh_InforBox {
    .kh_left_box {
      padding-right: 20px;
      .topInfor {
        margin-top: 10px;
        .titleInfor {
          margin-bottom: 10px;
          .listStyle{
            width: 8px;
            height: 8px;
            display: inline-block;
            background: #000;
            border-radius: 50%;
          }
          .listText {
            font-size: 12px;
            font-weight: 600;
            margin-left: 5px;
          }
        }
        .titleBox {
          width:100%;
          background: #F2F7ff;
          padding: 10px 0 25px 0;
          .infor_a {
            width:100%;
            height: 30px;
            line-height: 30px;

            .title {
              font-size: 12px;
              text-align: right;
              color: #9c9c9c;
            }
            .input_textarea {
              padding-left:20px;
              .el-textarea {
                width:290px;
                display: inline-block;
              }
            }
            .input_search {

              position: relative;
              .el-radio-group{
                margin-left: 20px;
                color: black;
                font-size: 14px;
                .el-radio{
                  width:50px;
                }
                .el-radio__inner {
                  width: 18px;
                  height: 18px;
                  background: white;
                }
                .el-radio__inner::after{
                  width: 7px;
                  height: 7px;
                  background: #409EFF;
                }
                .el-radio__input.is-checked+.el-radio__label {
                  color: black;
                }
              }
              .el-input {
                width:290px;
                height:26px;
                margin-left: 20px;
                input{
                  height:26px!important;
                  line-height: 26px!important;
                  border:1px solid #e1dfdc;
                }
                .el-input-group__append {
                  background: white;
                  border:1px solid #e1dfdc;
                  border-left: none;
                  border-radius: 0;
                  padding-right: 9px;
                  color: black;
                }
                .el-input__icon {
                  line-height: 20px;
                }
              }
              .colorText {
                .el-input-group__append {
                  background: #f5f7f9;
                  color: black;
                }
              }
              .inputText {
                input{
                  border-right: none;
                }
              }
              .el-select {
                width:290px;
                height:28px;
              }
              .radio_a {
                .el-radio{
                  width:50px;
                }
                .el-radio__inner {
                  width: 14px;
                  height: 14px;

                }
                .el-radio__label {
                  font-size: 12px;
                  color: black;
                }
                .el-radio__inner::after {
                  width: 4px;
                  height: 4px;
                  background: #409EFF;
                }

              }
              .inputBox {
                width:290px;
                height:30px;
                line-height: 30px;
                background: white;
                margin-left: 20px;
                border: 1px solid #e1dfdc;
                font-size: 12px;
                padding-left: 10px;
              }
              .el-upload {
                .el-button{
                  width:80px;
                  height:30px;
                  font-size: 12px;
                  color: #21323c;
                  background: white;
                  margin-left: 20px;
                  border: 1px solid #e1dfdc;
                }
              }
            }

          }
        }
        .TableBox{
          width:100%;
          padding: 20px;
          background: #F8F8F8;
          .tableHead {
            .tr{
              color: #9c9c9c;
            }
          }
          .tableHead,.tablebody {
            width:100%;
            height:30px;
            line-height: 30px;
            border:1px solid #bebbb5;
            .tr{
              width:27%;
              float: left;
              height:30px;
              border-right:1px solid #bebbb5;
              font-size: 12px;
              padding-left: 2%;
            }
            .tr:last-child{
              width:19%;
              text-align: center;
              border-right:none;
              .addbutton{
                display: inline-block;
                width:40px;
                height:20px;
                line-height: 20px;
                text-align: center;
                background: #669FE4;
                color: white;
                cursor: pointer;
                border-radius: 3px;
              }
            }
          }
          .tablebody:last-child{
            border-top: none;
          }
        }
      }
      .fujianInfor{
        margin-top: 10px;
        .leftInfor,.rightInfor{
          .titleInfor {
            margin-bottom: 10px;
            .listStyle{
              width: 8px;
              height: 8px;
              display: inline-block;
              background: #000;
              border-radius: 50%;
            }
            .listText {
              font-size: 12px;
              font-weight: 600;
              margin-left: 5px;
            }
          }
        }
        .leftInfor{
          padding-right: 20px;
          .el-upload-dragger {
            height:50px;
            line-height: 50px;
          }
          .add_fujian {
            width:100%;
            height: 50px;
            line-height: 50px;
            font-size:12px;
            color: #499fe2;
            .fujian_icon {
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              left: 37%;
              img{
                width:15px;
                display: inline-block;
                vertical-align: middle;
              }
            }

          }
        }
        .rightInfor{
          .el-textarea{
            height: 50px;
            .el-textarea__inner {
              height:50px;
              overflow-x: hidden;
            }
          }
        }
      }
      .foot_btn {
        width:100%!important;
        text-align: right;
        margin-top: 20px;
        padding: 0;
        button {
          width: 80px;
          height: 30px;
          padding: 0;
          line-height: 30px;
          text-align: center;
        }
        .reset {
          color: #54ADFF;
          border: 1px solid #54ADFF;
          background: none;
        }
      }
    }
    .kh_right_box {
      margin-top: 10px;
      padding-right: 20px;
      .titleInfor {
        margin-bottom: 10px;
        .listStyle{
          width: 8px;
          height: 8px;
          display: inline-block;
          background: #000;
          border-radius: 50%;
        }
        .listText {
          font-size: 12px;
          font-weight: 600;
          margin-left: 5px;
        }
      }
      .titleBox {
        background:#F8F8F8;
        padding: 10px 0;
        .infor_a {
          width:100%;
          height: 30px;
          line-height: 30px;

          .title {
            font-size: 12px;
            text-align: right;
            color: #9c9c9c;
            padding-right: 10px;
          }
          .input_search {
            position: relative;
            .el-radio-group{
              margin-left: 20px;
              color: black;
              font-size: 14px;
              .el-radio{
                width:50px;
              }
              .el-radio__inner {
                width: 18px;
                height: 18px;
                background: white;
              }
              .el-radio__inner::after{
                width: 7px;
                height: 7px;
                background: #409EFF;
              }
              .el-radio__input.is-checked+.el-radio__label {
                color: black;
              }
            }
            .el-input {
              width:290px;
              height:26px;
              margin-left: 20px;
              input{
                height:26px!important;
                line-height: 28px!important;
                border:1px solid #e1dfdc;
              }
              .el-input-group__append {
                background: white;
                border:1px solid #e1dfdc;
                border-left: none;
                border-radius: 0;
                padding-right: 9px;
              }
              .el-input__icon {
                line-height: 20px;
              }
            }
            .inputText {
              input{
                border-right: none;
              }
            }
            .el-select {
              width:290px;
              height:28px;
            }
            .radio_a {
              .el-radio{
                width:50px;
              }
              .el-radio__inner {
                width: 14px;
                height: 14px;

              }
              .el-radio__label {
                font-size: 12px;
                color: black;
              }
              .el-radio__inner::after {
                width: 4px;
                height: 4px;
                background: #409EFF;
              }

            }
            .inputBox {
              width:290px;
              height:30px;
              line-height: 30px;
              background: white;
              margin-left: 20px;
              border: 1px solid #e1dfdc;
              font-size: 12px;
              padding-left: 10px;
            }
            .el-upload {
              .el-button{
                width:80px;
                height:30px;
                font-size: 12px;
                color: #21323c;
                margin-left: 20px;
                background: white;
                border: 1px solid #e1dfdc;
              }
            }
          }
          .textInfor {
            max-width:174px;
            padding-left: 10px;
            font-size: 12px;
            text-align: left;
            color: black;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
